{% extends 'app/base.html' %}
{% load static %}
{% block title %}AGM Minutes{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div style="height: 100px;"></div> <!-- Adjust height according to your navbar height -->
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center mt-5">AGM Minutes</h1>
    <div style="height: 10px;"></div> <!-- Add space at the top -->
    <div class="table-container mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for minute in minutes %}
          <tr>
            <td>{{ minute.title }}</td>
            <td><a href="{{ minute.file.url }}">Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div style="height: 100px;"></div> <!-- Adjust height according to your footer height -->
        </div>
    </div>
</div>

{% endblock %}
